

<div class="container form-container text-start">
<div class="form-name-container d-flex justify-content-center">

    <%= simple_form_for(quest) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-name">
        <%= f.input :name, label: false, input_html: {class: "input-bg", placeholder:"New Quest"}, :label_html => { :class => 'form-label-font' } %>
      </div>
      <div class="container form-background">
      <div class= "calendar">
        <%= f.input :due_date,
                as: :string,
                label: "Due date:", :label_html => { :class => 'form-label-font' },
                input_html: { data: { controller: "datepicker", alt_input: "true", inline: true}, class:"input-bg"}%>
      </div>
      <div data-controller="slider" class="slider-container", data-slider-label-value="Fun Rating:" >
        <%= f.input :fun_rating, as: :range, input_html:{ min:"0", max:"10", step:"1", class:"slider", 'data-slider-target'=> "sliderValue", data:{ action: "input->slider#handleSlider" } }, :label_html => { :class => 'sliderDisplay', 'data-slider-target'=> "sliderDisplay"} %>
        <%# <p class="slider-display" data-slider-target="sliderDisplay"></p> %>
      </div>
      <div data-controller="slider" class="slider-container" data-slider-label-value="Difficulty Rating:">
        <%= f.input :difficulty_rating, as: :range, input_html:{ min:"0", max:"10", step:"1", class:"slider", 'data-slider-target'=> "sliderValue", data:{ action: "input->slider#handleSlider" } }, :label_html => { :class => 'sliderDisplay', 'data-slider-target'=> "sliderDisplay"}  %>
        <%# <p class="slider-display m-3" data-slider-target="sliderDisplay"></p> %>
      </div>
      <div data-controller="slider" class="slider-container" data-slider-label-value="Consequence Rating:">
        <%= f.input :consequence_level, as: :range, input_html:{ min:"0", max:"10", step:"1", class:"slider", 'data-slider-target'=> "sliderValue", data:{ action: "input->slider#handleSlider" }}, :label_html => { :class => 'sliderDisplay', 'data-slider-target'=> "sliderDisplay"}  %>
        <%# <p class="slider-display" data-slider-target="sliderDisplay"></p> %>
      </div>
      <div class="notes-container">
      <%= f.input :notes, as: :text, input_html: {rows: 5, cols: 5, class:"input-bg"} %>
      </div>
      <div class="form-button-container row">
        <div class="col-12">
          <%= f.submit "Create Quest", class: "btn-form"%>
        </div>
      </div>
    <% end %>

  </div>
</div>
