
<div class="container text-center mt-3 mb-3 margin-bottom div-relative" data-controller="checkboxes filter" data-action="click->checkboxes#closeModal" data-checkboxes-token-value="<%= form_authenticity_token %>">
<div id="modal-backdrop" data-checkboxes-target="modalDiv">

<h1 class="mb-3">Quests</h1>
 <div class="dropdown filter">
    <button class="btn dropdown-toggle material-symbols-outlined filter-icon" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Sort
    </button>
    <div class="dropdown-menu p-4 filter-menu mt-3" aria-labelledby="dropdownMenuButton" >
      <form method="get" action="/quests">
        <div class="form-check form-check-filter">
          <input class="form-check-input filter-input" type="radio" id="completed" name="sortOption" value="completed" data-filter-target="completed">
          <label class="form-check-label form-check-label-filter" for="completed"> Completed</label>
        </div>
        <div class="form-check form-check-filter">
          <input class="form-check-input filter-input" type="radio" id="easyQuest" name="sortOption" value="easyQuest" data-filter-target="easyQuest">
          <label class="form-check-label form-check-label-filter" for="easyQuest"> Easy Quests</label>
        </div>
        <div class="form-check form-check-filter">
          <input class="form-check-input filter-input" type="radio" id="midQuest" name="sortOption" value="midQuest" data-filter-target="midQuest">
          <label class="form-check-label form-check-label-filter" for="midQuest"> Mid Quests</label>
        </div>
        <div class="form-check form-check-filter">
          <input class="form-check-input filter-input" type="radio" id="hardQuest" name="sortOption" value="hardQuest" data-filter-target="hardQuest">
          <label class="form-check-label form-check-label-filter" for="hardQuest"> Hard Quests</label>
        </div>
        <div class="form-group mt-2">
          <label for="byDueDate">Due date :</label>
          <input class="form-control filter-date-input" type="date" id="byDueDate" name="dateOption" value="dueDate" data-filter-target="dueDate">
        </div>
        <div class="form-group mt-3">
          <a href="/quests" class="link filter-link">Clear</a>
          <input type="submit" class="btn filter-btn" value="Filter">
        </div>
      </form>
    </div>
  </div>

  <% @quests.each do |quest| %>
    <details class="card card-list-outside-quest">
      <summary class="d-flex justify-content-between">
        <div class="card card-list-inside text-start flex-column " data-checkboxes-target="bg">
          <div class="d-flex justify-content-between">
         <div class="card-title"><%= quest.name %></div>
          </div>
          <div class="d-flex justify-content-between">
          <% if quest.xp < 40 %>
            <p class="sword">⚔</p>
          <% elsif quest.xp < 70 %>
            <p class="sword">⚔⚔</p>
          <% else %>
            <p class="sword">⚔⚔⚔</p>
          <% end %>
           <p class="card-xp"><%= quest.xp %>XP</p>
        </div>
        </div>
        <div>
          <div class="custom-checkbox tick <%= quest.completed ? 'checked' : ''%>" data-id="<%= quest.id %>" data-action="click->checkboxes#completeQuest">
            <i class="fa-solid fa-check"></i>
          </div>
      </summary>
      <div class="card card-list-info">
        <p class="card-details text-start">
          <%= quest.notes %>
        </p>
        <br/>
        <div class="d-flex detail-position">
          <p class="detail-position">Due date: <%= quest.due_date.to_formatted_s(:long)%></p>
          <div>
            <%= link_to "update", edit_quest_path(quest), class:"btn btn-quest btn-card" %>
            <%= link_to "delete", quest_path(quest), class:"btn btn-quest btn-card", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      </div>
    </details>
  <% end %>
</div>
  <div class="modal fade" tabindex="-1" data-checkboxes-target="modal" >
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content pt-3 pb-3 bg-warning">
        <h1>Congratulations!</h1>
        <h1>You did it!</h1>
        <p data-checkboxes-target="amount">You earned 10XP!</p>
        <% if @earned  %>
          <p>You have rewards to collect!</p>
        <% end %>
      </div>
    </div>
  </div>

</div>
