
<div class="container container text-center mt-3 mb-3 margin-bottom" data-controller="checkboxes">
<h1 class="mb-3">Quests</h1>

  <% @quests.each do |quest| %>
    <details class="card card-list-outside-quest" data-controller="xp">
      <summary class="d-flex justify-content-between">
        <div class="card card-list-inside text-start">
          <p class="card-title"><%= quest.name %></p>
        </div>
        <div>
          <%= simple_form_for quest, class: "", id: "checkbox" do |f| %>
            <%= f.input :completed, as: :boolean, input_html: {data: {action: "click->checkboxes#completeQuest"}} %>
          <% end %>
        </div>
      </summary>
      <div class="card card-list-info">
        <p class="card-details text-start">
          <%= quest.notes %>
        </p>
          <br>
          <div class="d-flex">
            <p class="xp-reward flex-grow-1 text-start"><%= quest.xp %>XP</p>
            <%= link_to "edit", edit_quest_path(quest), class:"btn btn-quest btn-card" %>
            <%= link_to "delete", quest_path(quest), class:"btn btn-quest btn-card", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
      </div>
    </details>
  <% end %>
</div>
