<div class="container">
<h1>Edit a reward</h1>

  <%= simple_form_for(@reward) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name %>
  <%= f.input :xp, label: "XP required:" %>
  <%= f.input :details, label: "Details" %>

  <%= f.submit "Save"%>
<% end %>

</div>
