<div class="container text-center mt-3 mb-3 margin-bottom" data-controller='checkboxes filter' data-checkboxes-token-value="<%= form_authenticity_token %>">
  <h1 class="mb-3">Rewards</h1>
  <p id="spending">XP to spend: <%= @spend %></p>
<div class="dropdown filter">
  <button class="btn dropdown-toggle material-symbols-outlined filter-icon-reward" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Sort
  </button>
    <div class="dropdown-menu p-4 filter-menu-reward mt-3" aria-labelledby="dropdownMenuButton" >
      <form method="get" action="/rewards">
        <div class="form-check form-check-filter">
          <input class="form-check-input filter-input-reward" type="radio" id="claimed" name="sortOption" value="claimed" data-filter-target="claimed">
          <label class="form-check-label form-check-label-filter" for="claimed"> Claimed</label>
        </div>
        <div class="form-check form-check-filter">
          <input class="form-check-input filter-input-reward" type="radio" id="earned" name="sortOption" value="earned" data-filter-target="earned">
          <label class="form-check-label form-check-label-filter" for="earned"> Earned</label>
        </div>
        <div class="form-group mt-3">
          <a href="/rewards" class="link filter-link-reward">Clear</a>
          <input type="submit" class="btn filter-btn-reward" value="Filter">
        </div>
      </form>
    </div>
 </div>


  <% @rewards.each do |reward| %>
    <details class="card card-list-outside-reward">
      <summary class="d-flex justify-content-between">

        <div class="card card-list-inside" id="rewardspace">
          <p class="card-title text-start"><%= reward.name %></p>

          <p><%= reward.xp %>XP</p>
        </div>
        <% if reward.earned  == true%>
       <div>
          <div class="custom-checkbox-reward"<%= reward.completed ? 'checked' : ''%>" data-id="<%= reward.id %>" data-action="click->checkboxes#completeReward">
            <i class="fa-solid fa-check"></i>
          </div>
        </div>
        <% end %>
      </summary>
      <div class="card card-list-info">
        <p class="card-details text-start">
          <%= reward.details %>
        </p>
        <br>
        <div class="d-flex rewardbtn-position">          <div>
            <%= link_to "edit", edit_reward_path(reward), class:"btn btn-review btn-card" %>
            <%= link_to "delete", reward_path(reward), class:"btn btn-review btn-card", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    </details>
  <% end %>
</div>
