<div class="container text-center mt-3 mb-3 margin-bottom" data-controller='checkboxes' data-checkboxes-token-value="<%= form_authenticity_token %>">
  <h1 class="mb-3">Rewards</h1>
  <p>XP to spend: <%= @spend %></p>

  <% @rewards.each do |reward| %>
    <details class="card card-list-outside-reward">
      <summary class="d-flex justify-content-between">
        <div class="card card-list-inside">
          <p class="card-title text-start"><%= reward.name %></p>
        </div>
       <div>
          <div class="custom-checkbox <%= reward.completed ? 'checked' : ''%>" data-id="<%= reward.id %>" data-action="click->checkboxes#completeReward">

          </div>
        </div>
      </summary>
      <div class="card card-list-info">
        <p class="card-details text-start">
          <%= reward.details %>
        </p>
          <br>
          <div class="d-flex">
            <p class="xp-reward flex-grow-1 text-start"><%= reward.xp %>XP</p>
            <%= link_to "edit", edit_reward_path(reward), class:"btn btn-review btn-card" %>
            <%= link_to "delete", reward_path(reward), class:"btn btn-review btn-card", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
      </div>
    </details>
  <% end %>
</div>
