<div class="container text-center mt-3 mb-3 margin-bottom">
  <h1 class="mb-3">Rewards</h1>

  <% @rewards.each do |reward| %>
    <details class="card card-list-outside-reward">
      <summary class="d-flex justify-content-between">
        <div class="card card-list-inside">
          <p class="card-title"><%= reward.name %></p>
        </div>
       <div>
          <%= simple_form_for reward, class: "" do |f| %>
            <%= f.input :completed, as: :boolean, input_html: {data: {action: "click->checkboxes#completeReward"}}%>
          <% end %>
        </div>
      </summary>
      <div class="card card-list-info">
        <p class="card-details">
          <%= reward.details %>
        </p>
          <br>
          <div class="d-flex">
            <p class="xp-reward flex-grow-1"><%= reward.xp %>XP</p>
            <%= link_to "edit", edit_reward_path(reward), class:"btn btn-review btn-card" %>
            <%= link_to "delete", reward_path(reward), class:"btn btn-review btn-card", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
      </div>
    </details>
  <% end %>
</div>
