<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="container-fluid">
    <div class="progress nav-width">
      <div class="progress-bar bg-warning" role="progressbar" style="width: <%= current_user.xp %>%" aria-valuenow=<%= current_user.xp %> aria-valuemin="0" aria-valuemax="100">
      </div>

    </div>
      <% if current_user.xp < 100 %>
        <p>XP: <%= current_user.xp%></p>
        <p>Level: 0</p>
      <% elsif %>
        <% levels = current_user.xp.to_s.chars %>
        <p>Level:<%= levels[0] %> </p>
      <% else %>
        <% levels = current_user.xp.to_s.chars %>
        <p>Level:<%= levels[0] %><%= levels[1] %> </p>
      <% end %>
  </div>
</div>
