<!DOCTYPE html>
<html>
  <head>
    <title>QuestUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>

      <% unless params[:controller] == "pages" then %>
        <body class="page-height">
          <% if user_signed_in? == true %>
            <%= render "shared/navbar" %>
          <% end %>
          <%= render "shared/flashes" %>
      <% else %>
        <div id="removescrollbar">
      <% end %>

      <%= yield %>

      <% unless params[:controller] == "pages" then %>
        <%= render "shared/footer" %>
        </div>
      <% end %>
    </body>
</html>
